# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Logs
logs/
*.log

# Spark
spark-warehouse/
metastore_db/
*.crc
_SUCCESS

# Data Lake (gerado pela pipeline)
data/bronze/
data/silver/
data/gold/

# Pipeline outputs
output/

# OS
.DS_Store
Thumbs.db