# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
logs/
*.log

# Data Lake Layers
data/raw/
data/bronze/
data/silver/
data/gold/

# OS
.DS_Store
Thumbs.db

